body{
    display: flex;
    justify-content: center;
    background-color: bisque;
    text-align: center;
}

.container{
    width: 900px;
    background-color: white;
    border-top: 2px solid black;
    padding: 0 15px 100px 15px;
}

h2{
    background-color: #32c6e0;
    color: white;
}
.h1h3{
    background-color: #D3D4D9;
    color: black;
}
p{
    background-color: #BB0A21;
    color: white;
}
.button{
    color: white;
    background-color: #252627;
    padding: 15px;
    font-size: 24px;
}